<a href="https://colab.research.google.com/github/zlopezr/zlopezr/blob/main/5_Maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/f3/d4/3fe3b5bf9886912b64ef040040aec356fa48825e5a829a84c2667afdf952/pandas-1.2.3-cp37-cp37m-manylinux1_x86_64.whl (9.9MB)
     |████████████████████████████████| 9.9MB 5.2MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 1.2.3 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.2.3

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
london_merged.csv	test.csv   test.pkl
meteorite-landings.csv	test.json  test.xlsx

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.3'

In [ ]:
df_lmerged = pd.read_csv('london_merged.csv')
df_lmerged

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [ ]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [ ]:
df_lmerged['timestamp']= pd.to_datetime(df_lmerged['timestamp'])

In [ ]:
df_lmerged['Hora'] = df_lmerged['timestamp'].dt.hour
df_lmerged['Hora']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: Hora, Length: 17414, dtype: int64

In [ ]:
df_lmerged

                timestamp   cnt   t1   t2  ...  is_holiday  is_weekend  season  Hora
0     2015-01-04 00:00:00   182  3.0  2.0  ...         0.0         1.0     3.0     0
1     2015-01-04 01:00:00   138  3.0  2.5  ...         0.0         1.0     3.0     1
2     2015-01-04 02:00:00   134  2.5  2.5  ...         0.0         1.0     3.0     2
3     2015-01-04 03:00:00    72  2.0  2.0  ...         0.0         1.0     3.0     3
4     2015-01-04 04:00:00    47  2.0  0.0  ...         0.0         1.0     3.0     4
...                   ...   ...  ...  ...  ...         ...         ...     ...   ...
17409 2017-01-03 19:00:00  1042  5.0  1.0  ...         0.0         0.0     3.0    19
17410 2017-01-03 20:00:00   541  5.0  1.0  ...         0.0         0.0     3.0    20
17411 2017-01-03 21:00:00   337  5.5  1.5  ...         0.0         0.0     3.0    21
17412 2017-01-03 22:00:00   224  5.5  1.5  ...         0.0         0.0     3.0    22
17413 2017-01-03 23:00:00   139  5.0  1.0  ...         0.0         0.0     3.0    23

[17414 rows x 11 columns]

In [ ]:
df= df_lmerged.iloc[:,1:]
df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  Hora
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

In [ ]:
np.sin(df['wind_speed']**2)+10

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

In [ ]:

df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  Hora
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

In [ ]:
df['t1']-df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [ ]:
df['t1'].iloc[::5]-df['t2']

0        1.0
1        NaN
2        NaN
3        NaN
4        NaN
        ...
17409    NaN
17410    4.0
17411    NaN
17412    NaN
17413    NaN
Length: 17414, dtype: float64

In [ ]:
df['t1'].iloc[::5].sub(df['t2'], fill_value=1000)

0           1.0
1         997.5
2         997.5
3         998.0
4        1000.0
          ...
17409     999.0
17410       4.0
17411     998.5
17412     998.5
17413     999.0
Length: 17414, dtype: float64

In [ ]:
df['t1']/df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

In [ ]:
df['t1'].dot(df['t1'])

3247652.777777778

In [ ]:
def fun_1(x): 
  y=x**2+1
  return y

In [ ]:
fun_1(10)

101

In [ ]:
np.arange(-5,6)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [ ]:
np.arange(-5,6).shape

(11,)

In [ ]:
fun_1(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [ ]:
def fun_2(x, a=1, b=0):
      y= x**2+a*x+b
      return y

In [ ]:
fun_2(10,a=10,b=20)

220

In [ ]:
df['Hora'].apply(fun_2,args=(20,-100))

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: Hora, Length: 17414, dtype: int64

In [ ]:
df['Hora'].apply(fun_2,a=20,b=-100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: Hora, Length: 17414, dtype: int64

In [ ]:
df['t1'].apply(lambda x: x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [ ]:
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
Hora              11.513265
dtype: float64

In [ ]:
df.apply(lambda x: x.std(),axis=1)

0         60.787517
1         49.012045
2         48.779692
3         36.249751
4         30.642427
            ...
17409    325.831944
17410    168.138964
17411    104.504505
17412     70.027296
17413     45.710320
Length: 17414, dtype: float64

In [ ]:
df.apply(lambda x: x['t1']-x['t2'],axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [ ]:
df.applymap(lambda x: x/1000)

         cnt      t1      t2     hum  ...  is_holiday  is_weekend  season   Hora
0      0.182  0.0030  0.0020  0.0930  ...         0.0       0.001   0.003  0.000
1      0.138  0.0030  0.0025  0.0930  ...         0.0       0.001   0.003  0.001
2      0.134  0.0025  0.0025  0.0965  ...         0.0       0.001   0.003  0.002
3      0.072  0.0020  0.0020  0.1000  ...         0.0       0.001   0.003  0.003
4      0.047  0.0020  0.0000  0.0930  ...         0.0       0.001   0.003  0.004
...      ...     ...     ...     ...  ...         ...         ...     ...    ...
17409  1.042  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.019
17410  0.541  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.020
17411  0.337  0.0055  0.0015  0.0785  ...         0.0       0.000   0.003  0.021
17412  0.224  0.0055  0.0015  0.0760  ...         0.0       0.000   0.003  0.022
17413  0.139  0.0050  0.0010  0.0760  ...         0.0       0.000   0.003  0.023

[17414 rows x 10 columns]