<a href="https://colab.research.google.com/github/zlopezr/zlopezr/blob/main/9_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/f3/d4/3fe3b5bf9886912b64ef040040aec356fa48825e5a829a84c2667afdf952/pandas-1.2.3-cp37-cp37m-manylinux1_x86_64.whl (9.9MB)
     |████████████████████████████████| 9.9MB 6.4MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 1.2.3 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.2.3

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.3'

In [ ]:
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
    'A':['a0','a1','a2','a3']},
    index = [0,1,2,3])
df_left

    X   W   Y   A
0  x0  w0  y0  a0
1  x1  w1  y1  a1
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [ ]:
df_right = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [ ]:
pd.merge(df_left,df_right)

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [ ]:
pd.merge(df_left,df_right,how='inner',on='Y')

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [ ]:
pd.merge(df_left,df_right,how='inner',left_on='Mix',right_on='Y')

    X   W Y_x Mix   Z   A Y_y
0  x0  w0  y0  y2  z2  a2  y2
1  x1  w1  y1  y3  z3  a3  y3

In [ ]:
pd.merge(df_left,df_right,how='inner',left_on='Mix',right_on='A')

    X   W Y_x Mix   Z   A Y_y
0  x2  w2  y2  a2  z2  a2  y2
1  x3  w3  y3  a3  z3  a3  y3

In [ ]:
pd.merge(df_left,df_right,how='left',on='Y')

    X   W   Y Mix    Z    A
0  x0  w0  y0  y2  NaN  NaN
1  x1  w1  y1  y3  NaN  NaN
2  x2  w2  y2  a2   z2   a2
3  x3  w3  y3  a3   z3   a3

In [ ]:
pd.merge(df_left,df_right,how='right',on='Y')

     X    W   Y  Mix   Z   A
0   x2   w2  y2   a2  z2  a2
1   x3   w3  y3   a3  z3  a3
2  NaN  NaN  y4  NaN  z4  a4
3  NaN  NaN  y5  NaN  z5  a5

In [ ]:
pd.merge(df_left,df_right,how='outer',on='Y')

     X    W   Y  Mix    Z    A
0   x0   w0  y0   y2  NaN  NaN
1   x1   w1  y1   y3  NaN  NaN
2   x2   w2  y2   a2   z2   a2
3   x3   w3  y3   a3   z3   a3
4  NaN  NaN  y4  NaN   z4   a4
5  NaN  NaN  y5  NaN   z5   a5

In [ ]:
pd.merge(df_left,df_right,how='outer',on='A',suffixes=['_left','_right'])

     X    W Y_left   A    Z Y_right
0   x0   w0     y0  a0  NaN     NaN
1   x1   w1     y1  a1  NaN     NaN
2   x2   w2     y2  a2   z2      y2
3   x3   w3     y3  a3   z3      y3
4  NaN  NaN    NaN  a4   z4      y4
5  NaN  NaN    NaN  a5   z5      y5